*{
	box-sizing: border-box;

}

body{
	background-color: #FCF3CF;
	font-family: "Comic Sans MS", cursive, sans-serif;
}



.container{
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.row{
	width: 100%;
}

#brand{
	font-size: 1.5em;
	font-weight: bold;
	text-align: left;
}



#nav-list span{
	text-align: center;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
 
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
  
}
/* END HEADER */



